<template>
    <div>
        <v-container fluid class="grey lighten-5">
                <v-row no-gutters>
                    <v-col
                        cols="0"
                        sm="6"
                        md="1"
                        v-show="$vuetify.breakpoint.mdAndUp"
                    >
                    </v-col>
                    <v-col
                        cols="12"
                        md="10"
                    >
                        <v-card
                            class="pa-2 mb-5"
                            outlined
                            tile
                        >

                            <v-toolbar
                                color="indigo"
                                dark
                            >
                                <v-toolbar-title> 
                                    <v-icon class="mb-1 mr-2">fa-check</v-icon> 
                                    <span 
                                        class="body-1" 
                                        :class="{'caption' : $vuetify.breakpoint.smAndDown}"
                                    >
                                            <span class="c-link" v-on:click="go_home">GEBEYA SHOE COLLECTIONS</span>
                                             / Cart
                                    </span>
                                </v-toolbar-title>

                                <v-spacer></v-spacer>

                                <Currency v-if="loadCurrency" :currency="currency" @setCurrency="setCurrency"></Currency>
                                
                        </v-toolbar>
                            <v-card flat class="item-card my-5">
                                <v-simple-table dense class="mb-4">
                                    <template v-slot:default>
                                        <thead>
                                            <tr>
                                                <th>
                                                    Image
                                                </th>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Unit Price
                                                </th>
                                                <th>
                                                    Amount
                                                </th>
                                                <th>
                                                    Unit total
                                                </th>
                                                <th>
                                                    Remove
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr 
                                                v-for="cart in cart"
                                                :key="cart.itemId"
                                            >
                                                <td style="width: 170px">
                                                    <div><img style="width: 100%;" class="my-1" :src="cart.item.image" :alt="cart.item.name"></div>
                                                </td>
                                                <td>{{cart.item.name}}</td>
                                                <td>{{get_currency(cart.item.price, cart.item.currency)}}
                                                    {{ selected_currency ? selected_currency.short_name : cart.item.currency.short_name}}
                                                </td>
                                                <td>{{cart.amount}}</td>
                                                <td>{{get_currency((cart.amount * cart.item.price).toFixed(2), cart.item.currency)}}
                                                    {{ selected_currency ? selected_currency.short_name : cart.item.currency.short_name}}
                                                </td>
                                                <td>
                                                    <v-btn
                                                        class="mx-2"
                                                        fab
                                                        dark
                                                        small
                                                        color="pink"
                                                        v-on:click="remove(cart.itemId)"
                                                    >
                                                        <v-icon dark>
                                                            fa-close
                                                        </v-icon>
                                                    </v-btn>
                                                </td>
                                            </tr>
                                            <tr v-if="cart.length > 0">
                                                <td>Total</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    {{get_currency(total_price, cart[0].item.currency)}}
                                                    {{ selected_currency ? selected_currency.short_name : cart[0].item.currency.short_name}}
                                                </td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </template>
                                </v-simple-table>

                                <p v-if="cart.length <= 0" class="ma-5"><v-icon small class="primary--text mr-2 mb-1">fa-info</v-icon> 
                                No item in the cart! Please add shoes to the cart.</p>

                                <v-layout v-else>
                                    <v-flex md10 v-show="$vuetify.breakpoint.mdAndUp">
                                    </v-flex>
                                    <v-flex sm12 md2>
                                        <v-btn color="primary" dark v-on:click="check_out">
                                            <v-icon small class="mr-2 mb-1" left>fa-shopping-cart</v-icon>
                                            CheckOut
                                        </v-btn>
                                    </v-flex>
                                    
                                </v-layout>
                                

                            </v-card> 
                        </v-card>
                    </v-col>
                    <v-col
                        cols="0"
                        sm="6"
                        md="1"
                        v-show="$vuetify.breakpoint.mdAndUp"
                    >
                    </v-col>
                </v-row>
        </v-container>

        <v-dialog
                v-model="dialog"
                width="500"
                >

                <v-card>
                    <v-card-title class="headline grey lighten-2">
                        <span v-if="purchase_info == null">
                            <v-icon class="black--text mr-3 mb-1">fa-shopping-cart</v-icon> CheckOut
                        </span>
                        <span v-else>
                            <v-icon class="green--text mr-3 mb-1">fa-check</v-icon>Transaction Successfully 
                        </span>
                        
                    </v-card-title>

                    <v-card-text v-if="purchase_info == null">
                        <p class="mt-3">Add Payment and Location information</p>
                        <p>
                            <v-text-field
                                label="* First Name"
                                prepend-icon="fa-user"
                                type="text"
                                v-model="first_name"
                                :error-messages="first_name_errors"
                            />
                            <v-text-field
                                label="Last Name"
                                prepend-icon="fa-user-o"
                                type="text"
                                v-model="last_name"
                                :error-messages="last_name_errors"
                            />
                            <v-text-field
                                label="* Phone Number"
                                prepend-icon="fa-phone"
                                type="number"
                                v-model="phone_number"
                                :error-messages="phone_number_errors"
                            />
                            <v-text-field
                                label="Email"
                                prepend-icon="fa-envelope-o"
                                type="text"
                                v-model="email"
                                :error-messages="email_errors"
                            />
                            <v-textarea
                                label="Location Description"
                                prepend-icon="fa-map-signs"
                                auto-grow
                                outlined
                                height="100"
                                v-model="location_description"
                                :error-messages="location_description_errors"
                            ></v-textarea>
                        </p>
                        
                    </v-card-text>

                    <v-card-text v-else>
                        <p class="ma-5">
                            <strong >ThankYou For Your Purchase!!</strong>
                            <v-simple-table dense class="my-4">
                                    <template v-slot:default>
                                        <tr>
                                            <td>Name</td>
                                            <td>{{purchase_info.first_name}} {{purchase_info.last_name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Phone No</td>
                                            <td>{{purchase_info.phone_number}}</td>
                                        </tr>
                                        <tr>
                                            <td>Date</td>
                                            <td>{{moment(purchase_info.created).format('MM/DD/YYYY HH:mm:ss')}}</td>
                                        </tr>
                                        <tr>
                                            <td>Total Price</td>
                                            <td>{{purchase_info.price}}</td>
                                        </tr>
                                        
                                    </template>
                            </v-simple-table>
                        </p>
                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                    <v-spacer></v-spacer>
                        <v-btn
                            color="primary"
                            text
                            @click="dialog = false"
                        >
                            Cancle
                        </v-btn>
                        <v-btn
                            v-if="purchase_info == null"
                            color="primary"
                            text
                            @click="submit"
                            :loading="loading"
                        >
                            Submit
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

    </div>
</template>

<script>
import Currency from '../../../modules/shoes/components/Currency';
import { mapGetters } from "vuex";
var moment = require('moment');

export default {
    name: 'Cart',
    components: {
        Currency,
    },
    data() {
        return {
            loadCurrency: false,
            selected_currency: null,
            dialog: false,

            first_name: "",
            last_name: "",
            phone_number: null,
            email: "",
            location_description: "",

            first_name_errors: null,
            last_name_errors: null,
            phone_number_errors: null,
            email_errors: null,
            location_description_errors: null,

            loading: false,
            purchase_info: null,

            moment: moment,
        }
    },
    computed: {
      ...mapGetters({
        currency: "shoes/currency",
        cart: "cart/cart",
        total_price: "cart/total_price",
      })
    },
    methods: {
        go_home () {
            this.$router.push({name: 'home'});
        },

        get_currency_if_not_init() {
            if (this.currency == null) {
                this.$store.dispatch("shoes/shoes_filters")
                .then(() => {
                    this.loadCurrency = true;
                })
                .catch(error => {
                    console.log(error)
                    this.loadPage = false;
                    this.$store.commit("SET_SNACKBAR", {
                        message: "Error Happned!",
                        value: true,
                        status: "error"
                    });
                })
            } else {
                this.loadCurrency = true;
            }
        },

        setCurrency(cu) {
            this.selected_currency = cu;
        },

        get_currency(price, currency) {
            if (this.selected_currency == null || this.selected_currency.id == currency.id) {
                return price;
            } else {
                let dollar_val = price * currency.relation_to_dollar

                return (dollar_val / this.selected_currency.relation_to_dollar).toFixed(2);
            }
        },

        remove(id) {
            this.$store.commit('cart/REMOVE_CART', id);
            this.$store.commit("SET_SNACKBAR", {
                message: "Successfully Removed item from the cart.",
                value: true,
                status: "success"});
        },

        check_out() {
            this.reset();
            this.dialog = true;
        },

        submit() {
            this.loading = true;
            this.reset_errors();
            let data = {
                    first_name: this.first_name,
                    last_name: this.last_name,
                    phone_number: this.phone_number,
                    email: this.email,
                    location_description: this.location_description,
                    price: this.total_price,
                    currency: this.cart[0].item.currency.id,
                    item_collections: []
            }

            for (let cart of this.cart) {
                data.item_collections.push({
                    item: cart.itemId,
                    amount: cart.amount,
                })
            }

            this.$store.dispatch('cart/check_out', data)
            .then(response => {
                this.purchase_info = response;
                this.reset_cart();
                this.loading = false;
            })
            .catch(error => {
                console.log(error)
                this.loading = false;
                for (var key in error.response.data) {
                    if (key !== "non_field_errors") {
                        this[key + "_errors"] = error.response.data[key];
                    } else {
                        this[key] = error.response.data[key];
                    }
                }
                this.$store.commit("SET_SNACKBAR", {
                    message: "Error Happned!",
                    value: true,
                    status: "error"
                });
            })
        },

        reset_cart() {
            this.$store.commit('cart/RESET_CART');
        },

        reset() {
            this.first_name = "";
            this.last_name = "";
            this.phone_number = null;
            this.email = "";
            this.location_description = "";

            this.reset_errors();
        },

        reset_errors() {
            this.first_name_errors = null;
            this.last_name_errors = null;
            this.phone_number_errors = null;
            this.email_errors = null;
            this.location_description_errors = null;
        }
    },
    created() {
        this.get_currency_if_not_init();
    }
}
</script>

<style scoped>

</style>