<template>
    <v-menu
        offset-y
    >
        <template #activator="{ on: menu }">
        <v-tooltip bottom>
        <template #activator="{ on: tooltip }">
            <v-btn
                icon
                v-on="{ ...tooltip, ...menu }"
            >
            <v-icon>fa-money</v-icon>
            </v-btn>
        </template>
        <span>Currency</span>
        </v-tooltip>
    </template>

        <v-list>
        <v-list-item
            v-for="cu in currency"
            :key="cu.id"
            v-on:click="setCurrency(cu)"
        >
            <v-list-item-title class="pl-2 pr-3"> 
            <v-icon small class="mr-3">fa-dollar</v-icon> 
            {{ cu.name }}
            </v-list-item-title>
        </v-list-item>
        </v-list>
    </v-menu>
</template>

<script>
export default {
    name: 'Currency',
    props: {
        currency: {}
    },
    methods: {
        setCurrency(cu) {
            this.$emit('setCurrency', cu);
        }
    }
}
</script>