<template>
    <div>
        
        <v-container fluid class="grey lighten-5">
            <v-row no-gutters>
                <v-col
                    cols="0"
                    sm="6"
                    md="2"
                    v-show="$vuetify.breakpoint.mdAndUp"
                >
                    <LeftSide 
                        @new_query="pass_query"
                        @currency_ready="pass_currency"
                    ></LeftSide>
                </v-col>
                <v-col
                    cols="12"
                    md="10"
                >
                    <ItemList 
                        @ready="recive_get_items_func"
                        :currency="currency"
                    ></ItemList>                        
                </v-col>
            </v-row>
        </v-container>

    </div>
</template>

<script>
import LeftSide from './LeftSide';
import ItemList from './ItemList';

export default {
    name: 'ListItem',
    data() {
        return {
            get_items_func: null,
            currency: null,
        }
    },
    components: {
        LeftSide,
        ItemList,
    },

    methods: {

        pass_query(query) {
            if (this.get_items_func == null) {
                return
            }
            this.get_items_func(query);
        },

        recive_get_items_func(func) {
            this.get_items_func = func;
        },

        pass_currency(currency) {
            this.currency = currency;
        }
    }
}
</script>