<template>
    <div>
        <div v-if="loadPage">
            <v-container fluid class="grey lighten-5">
                <v-row no-gutters>
                    <v-col
                        cols="0"
                        sm="6"
                        md="1"
                        v-show="$vuetify.breakpoint.mdAndUp"
                    >
                    </v-col>
                    <v-col
                        cols="12"
                        md="10"
                    >
                        <v-card
                            class="pa-2 mb-5"
                            outlined
                            tile
                        >

                            <v-toolbar
                                color="indigo"
                                dark
                            >
                                <v-toolbar-title> 
                                    <v-icon class="mb-1 mr-2">fa-check</v-icon> 
                                    <span 
                                        class="body-1" 
                                        :class="{'caption' : $vuetify.breakpoint.smAndDown}"
                                    >
                                            <span class="c-link" v-on:click="go_home">GEBEYA SHOE COLLECTIONS</span>
                                             / {{item.name}}
                                    </span>
                                </v-toolbar-title>

                                <v-spacer></v-spacer>

                                <Currency v-if="loadCurrency" :currency="currency" @setCurrency="setCurrency"></Currency>
                                
                            </v-toolbar>    

                            <v-card flat class="item-card mb-5">
                                <v-layout row wrap>
                                    <v-flex sm12 md6>
                                        <div class="pa-5" :class="{'pb-0': $vuetify.breakpoint.smAndDown}">
                                            <img class="item-image" :src="item.image" :alt="item.name"/>                                            
                                        </div>
                                    </v-flex>
                                    <v-flex sm12 md6>
                                        <div class="pa-5" :class="{'pt-0': $vuetify.breakpoint.smAndDown}">
                                            <p class="pa-2 primary--text item-name">{{item.name}}</p>
                                            <p class="px-2">
                                                
                                                

                                                <v-simple-table dense class="mb-4">
                                                    <template v-slot:default>
                                                    <tbody>
                                                        <tr>
                                                            <td><span class="primary--text">Price</span></td>
                                                            <td>
                                                                <span class="green--text item-price">{{get_currency(item.price, item.currency)}} 
                                                                {{ selected_currency ? selected_currency.short_name : item.currency.short_name}}</span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="narrow"><span class="primary--text">Brand</span></td>
                                                            <td>
                                                                <span v-if="item.brand">{{item.brand.name}}</span>
                                                                <v-icon small class="ml-1 mb-1 primary--text">
                                                                    fa fa-check-circle-o
                                                                </v-icon>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="narrow"><span class="primary--text">Category </span></td>
                                                            <td><span v-if="item.shoe_type">{{item.shoe_type.name}}</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="narrow"><span class="primary--text">Gender </span></td>
                                                            <td><span v-if="item.shoe_type" class="capitalize">{{item.sex}}</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="narrow"><span class="primary--text">Added </span></td>
                                                            <td><span class="capitalize">{{ moment(item.created).fromNow() }}</span></td>
                                                        </tr>
                                                    </tbody>
                                                    </template>
                                                </v-simple-table>

                                                <v-btn
                                                    depressed
                                                    color="primary"
                                                    :width="$vuetify.breakpoint.smAndDown ? 290 : 430"
                                                    height="45"
                                                    class="mt-5"
                                                    v-on:click="open_dialog"
                                                    >
                                                        <v-icon left class="mb-1">
                                                            fa-cart-plus
                                                        </v-icon>
                                                        Add to cart
                                                </v-btn>
                                            
                                            </p>

                                        </div>
                                    </v-flex>
                                </v-layout>
                            </v-card>

                        </v-card>          
                    </v-col>
                    <v-col
                        cols="0"
                        sm="6"
                        md="1"
                        v-show="$vuetify.breakpoint.mdAndUp"
                    >
                    </v-col>
                </v-row>
            </v-container>


            <v-dialog
                v-model="dialog"
                width="500"
                v-if="loadPage"
                >

                <v-card>
                    <v-card-title class="headline grey lighten-2">
                        <v-icon class="black--text mr-3 mb-1">fa-shopping-cart</v-icon> Add to Cart
                    </v-card-title>

                    <v-card-text>
                        <v-layout row>
                            <v-flex sm3>
                                <div class="mt-4">
                                    <img style="width: 100%" :src="item.image" :alt="item.name">
                                </div>
                            </v-flex>
                            <v-flex sm9>
                                <p class="ma-4">
                                    Name: {{item.name}} <br/>
                                    Price: <strong>{{item.price}}</strong> {{ selected_currency ? selected_currency.short_name : item.currency.short_name}} <br/>
                                    <span v-if="item.brand">Brand: {{item.brand.name}}</span> <br/>
                                    <span v-if="item.sex">Gender: {{item.sex}}</span><br/>
                                    <span v-if="item.shoe_type">Category: {{item.shoe_type.name}}</span><br/>
                                    <v-layout>
                                        <v-flex>
                                            <v-text-field
                                                label="Amount"
                                                class="mt-3"
                                                style="width: 35%"    
                                                v-model="amount"
                                                type="number"
                                            >
                                            </v-text-field>
                                        </v-flex>
                                        <v-flex class="mt-5">
                                            = {{(amount * item.price).toFixed(2)}} {{ selected_currency ? selected_currency.short_name : item.currency.short_name}}
                                        </v-flex>
                                    </v-layout>
                                </p>
                            </v-flex>
                        </v-layout>
                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                    <v-spacer></v-spacer>
                        <v-btn
                            color="primary"
                            text
                            @click="dialog = false"
                        >
                            Cancle
                        </v-btn>
                        <v-btn
                            color="primary"
                            text
                            @click="add_to_cart"
                        >
                            Add to cart
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>




        </div>

        <div v-else>
            <v-main>
                <v-container class="fill-height" fluid>
                <v-row justify="center" align="center">
                    <v-progress-circular :size="50" color="primary" indeterminate></v-progress-circular>
                </v-row>
                </v-container>
            </v-main>
        </div>

    </div>
</template>

<script>
import Currency from '../components/Currency';
import { mapGetters } from "vuex";
var moment = require('moment');

export default {
    name: 'ItemDetail',
    data() {
        return {
            loadPage: false,
            loadCurrency: false,
            item: null,
            selected_currency: null,
            moment: moment,
            dialog: false,
            amount: 1,
        };
    },
    components: {
        Currency,
    },
    computed: {
      ...mapGetters({
        currency: "shoes/currency",
      })
    },
    methods: {
        get_shoe_detail(id) {
            this.loadPage = false;
            this.$store.dispatch('shoes/get_shoe_detail', id)
            .then(response => {
                this.item = response;
                this.loadPage = true;
            })
            .catch(error => {
                console.log(error)
                this.loadPage = false;
                this.$store.commit("SET_SNACKBAR", {
                    message: "Error Happned!",
                    value: true,
                    status: "error"
                });
            })
        },

        get_currency_if_not_init() {
            if (this.currency == null) {
                this.$store.dispatch("shoes/shoes_filters")
                .then(() => {
                    this.loadCurrency = true;
                })
                .catch(error => {
                    console.log(error)
                    this.loadPage = false;
                    this.$store.commit("SET_SNACKBAR", {
                        message: "Error Happned!",
                        value: true,
                        status: "error"
                    });
                })
            } else {
                this.loadCurrency = true;
            }
        },

        setCurrency(cu) {
            this.selected_currency = cu;
        },

        get_currency(price, currency) {
            if (this.selected_currency == null || this.selected_currency.id == currency.id) {
                return price;
            } else {
                let dollar_val = price * currency.relation_to_dollar

                return (dollar_val / this.selected_currency.relation_to_dollar).toFixed(2);
            }
        },

        go_home () {
            this.$router.push({name: 'home'});
        },

        open_dialog() {
            this.dialog = true;
        },

        add_to_cart() {
            if (this.amount <= 0) {
                this.$store.commit("SET_SNACKBAR", {
                    message: "Please Fill the form Properly",
                    value: true,
                    status: "error"
                });
                return;
            }
            this.$store.commit('cart/ADD_TO_CART', {
                                                        itemId: this.item.id,
                                                        item: this.item,
                                                        amount: Number(this.amount)
                                                    })
            this.$store.commit("SET_SNACKBAR", {
                message: "Successfully added to cart.",
                value: true,
                status: "success"
            });
            this.dialog = false;
        }
    },
    created() {
        this.get_shoe_detail(this.$route.params.id);
        this.get_currency_if_not_init();
    }
}
</script>

<style scoped>
.c-link :hover {
    cursor: pointer !important;
    text-decoration: underline !important;
}

.item-image {
    width: 100%;
    height: 350px;
}

.item-name {
    font-size: 2em;
}

.item-price{
    font-size: 1.4em;
}

.narrow {
    width: 120px !important;
}

@media (max-width: 500px) {
    .item-image {
        height: 250px;
    }
}

</style>