<template>
    <div>
        
        <v-card
            class="pa-2 mb-5"
            outlined
            tile
            v-if="loadPage"
        >

            <v-toolbar
            color="indigo"
            dark
            >
                <v-toolbar-title> 
                    <v-icon class="mb-1 mr-2">fa-check</v-icon> 
                    <span class="body-1" :class="{'caption' : $vuetify.breakpoint.smAndDown}">GEBEYA SHOE COLLECTIONS</span>
                </v-toolbar-title>

                <v-spacer></v-spacer>

                <!-- <v-btn icon>
                    <v-icon>fa-money</v-icon>
                </v-btn> -->

                <Currency :currency="currency" @setCurrency="setCurrency"></Currency>
                
            </v-toolbar>

            <p class="text-capitalize primary--text mt-3">
                <strong>{{query_text == "" ? 'All Items' : query_text}}</strong>
                <span class="caption ml-2">Found {{items.count}} records</span>
            </p>
            
                <v-layout wrap row>
                    <v-flex
                        xs12 md6 lg3
                        v-for="item in items.results"
                        :key="item.id"
                        class="px-2"
                    >
                        <v-card class="item-card mb-4" v-on:click="item_detail(item.id)">
                            <img class="item-image" :src="item.image" :alt="item.name"/>
                            <p class="pa-2 primary--text item-name">{{item.name}}</p>
                            <p class="px-2 ">
                                <span class="green--text">{{get_currency(item.price, item.currency)}} 
                                    {{ selected_currency ? selected_currency.short_name : item.currency.short_name}}</span> <br/>
                                <span v-if="item.brand">{{item.brand.name}}</span>
                                <v-icon small class="ml-1 mb-1 primary--text">
                                    fa fa-check-circle-o
                                </v-icon> <br/>
                                <span v-if="item.shoe_type">{{item.shoe_type.name}}</span>
                            </p>
                        </v-card>
                    </v-flex>
                    
                </v-layout>

                <p>
                    <span class="caption"> 
                        <v-icon small class="mb-1 mr-1" color="primary">fa-info</v-icon> 
                        Showing a maximum of 10 items per page.</span>
                </p>

                <div class="text-center my-4">
                    <v-pagination
                        v-model="page"
                        :length="total_pages"
                        @input="fatch_pages"    
                    ></v-pagination>
                </div>
                
        </v-card>
        
        <div v-else>
            <v-main>
                <v-container class="fill-height" fluid>
                <v-row justify="center" align="center">
                    <v-progress-circular :size="50" color="primary" indeterminate></v-progress-circular>
                </v-row>
                </v-container>
            </v-main>
        </div>

    </div>
</template>

<script>
import Currency from '../components/Currency';

export default {
    name: 'Home',
    components: {
        Currency,
    },
    data() {
        return {
            loadPage: false,
            items: [],
            page: 1,
            total_pages: null,
            query_text: "",
            query: "",
            selected_currency: null,
        }
    },
    props: {
        currency: {
            
        }
    },
    methods: {

        get_all_items(query) {
            this.loadPage = false;
            this.query_text = query.text;
            this.query = query.query;
            this.$store.dispatch('shoes/get_items', query.query)
            .then(response => {
                this.items = response;
                this.total_pages = this.calculate_total_pages(response.count, 10);
                if (!query.page) {
                    this.page = 1;
                }
                this.loadPage = true;
            })
            .catch(error => {
                console.log(error)
                this.loadPage = false;
                this.$store.commit("SET_SNACKBAR", {
                    message: "Error Happned!",
                    value: true,
                    status: "error"
                });
            })
        },

        fatch_pages(page) {
            let query = {text: "page " + page, query: this.query + '&page=' + page, page: true};
            this.get_all_items(query);
        },

        item_detail(id) {
            this.$router.push({name: 'detail', params: {id}})
        },

        calculate_total_pages(total, per_page) {
            return Math.floor((total + per_page - 1) / per_page);
        },

        setCurrency(cu) {
            this.selected_currency = cu;
        },

        get_currency(price, currency) {
            if (this.selected_currency == null || this.selected_currency.id == currency.id) {
                return price;
            } else {
                let dollar_val = price * currency.relation_to_dollar

                return (dollar_val / this.selected_currency.relation_to_dollar).toFixed(2);
            }
        }

    },

    created() {
        this.get_all_items({text: 'All items', query: ""});
        this.$emit('ready', this.get_all_items);
    }

}
</script>

<style scoped>
.fill-height {
  height: 100% !important;
}

.item-image {
    width: 100%;
    height: 200px;
}

.item-card {
    height: 360px;
}

.item-name {
    height: 50px;
}

</style>