<template>
    <div>
        <div
            class="pr-3 filter-list"
            outlined
            tile
            v-if="loadPage"
            >

                <v-list dense>
                    
                    <v-form v-on:submit.prevent="searching">
                        <v-text-field
                            label="Search"
                            class="mx-2"
                            append-icon="fa-search"
                            v-model="search"
                        ></v-text-field>
                    </v-form>

                    <v-subheader>FILTERS</v-subheader>
                    
                    <v-list-item
                        v-for="(item, i) in items"
                        :key="i"
                    >
                        <!-- <v-list-item-icon>
                            <v-icon small v-text="item.icon"></v-icon>
                        </v-list-item-icon> -->
                        <v-list-item-content>
                            <v-list-item-title class="body-1 primary--text">
                                <v-icon small class="pb-1 primary--text mr-4">{{item.icon}}</v-icon> {{item.text}}</v-list-item-title>
                            <br/>

                            <v-radio-group v-model="selected[item.value]">
                                <v-radio
                                    v-for="item in get_specific_filter(item.value)"
                                    :key="item.id"
                                    :label="item.name"
                                    :value="item.id"
                                    @click="filter"
                                ></v-radio>
                            </v-radio-group>
                            
                        </v-list-item-content>
                    </v-list-item>
                </v-list>
                <!-- {{filter_data}} -->
                <!-- {{selected}} -->
 
        </div>

        <div v-else>
            <v-main>
                <v-container class="fill-height" fluid>
                <v-row justify="center" align="center">
                    <v-progress-circular :size="50" color="primary" indeterminate></v-progress-circular>
                </v-row>
                </v-container>
            </v-main>
        </div>

    </div>
</template>

<script>
export default {
    name: 'LeftSide',
    data: () => ({
      filter_data: null,
      loadPage: false,
      items: [
        { text: 'Brand', value: 'brand', icon: 'fa-check-circle' },
        { text: 'Category', value: 'shoe_type', icon: 'fa-certificate' },
        { text: 'Gender', value: 'sex', icon: 'fa-user-o' },
      ],
      search: "",
      selected: {
          brand: null,
          shoe_type: null,
          sex: null,
      }
    }),
    methods: {
        get_filter_data() {
            this.$store.dispatch("shoes/shoes_filters")
            .then(response => {
                this.filter_data = response;
                this.loadPage = true;
                this.$emit('currency_ready', response.currencies)
            })
            .catch(error => {
                console.log(error)
                this.loadPage = false;
                this.$store.commit("SET_SNACKBAR", {
                    message: "Error Happned!",
                    value: true,
                    status: "error"
                });
            })
        },
        searching() {
            let query = '&search=' + this.search;
            this.selected = {
                            brands: null,
                            types: null,
                            gender: null,
                        };
            this.$emit('new_query', {text: this.search, query});
        },
        get_specific_filter(type) {
            if (type == 'sex') {
                return [
                        {name: 'Man', id: 'man'}, 
                        {name: 'Woman', id: 'woman'},
                        {name: 'All', id: 'null'},
                        ]
            }
            return [ ...this.filter_data[type], {name: 'All', id: 'null'}];
        },
        filter() {
            let mined = Object.keys(this.selected).map((item) => {
                if (this.selected[item] != null && this.selected[item] != 'null') {
                    return {query: '&' + item + '=' + this.selected[item],
                            text: this.filter_data[item] ? this.filter_data[item].filter(x => x.id == this.selected[item])[0].name : this.selected[item]
                            }
                } 
                return "";
            });
            
            let query = mined.map(item => {
                if (item != "") {
                    return item.query;
                }
                return ""
            }).join('')

            let text = mined.map(item => {
                if (item != "") {
                    return item.text
                }
                return ""
            }).join(' ')
            
            this.$emit('new_query', {text, query});
        }
    },

    created() {
        this.get_filter_data();
    }
}
</script>

<style scoped>
.filter-list {
    height: 87vh;
    /* background: black !important; */
}
</style>