<template>
    <v-app>
        <v-app-bar
        app
        color="primary"
        dark
        >
        <div class="d-flex align-center">
            <v-img
                alt="Gebeya Logo"
                class="shrink mr-2 logo"
                contain
                :src="require('@/assets/img/gebeya.png')"
                transition="scale-transition"
                width="40"
                v-on:click="go_home"
            />
        </div>

        <span class="ml-2 logo" v-on:click="go_home">GEBEYA SHOE STORE</span>

        <v-spacer></v-spacer>

        <v-btn
            text
            fab
            v-on:click="go_chart"
        >
             <v-badge
                :content="total_items"
                :value="total_items"
                color="orange accent-4"
                overlap
            >
                <v-icon>fa fa-opencart</v-icon>
            </v-badge>
        </v-btn>

       

        </v-app-bar>

        <v-main>
                
            <router-view></router-view> 
            
        </v-main>

        <footer class="footer">
            <v-layout wrap class="ma-5">
                <v-flex md4 class="px-5">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis nam ullam corporis enim inventore itaque laudantium labore perferendis, impedit illum, illo dolore dolorem qui ex culpa facilis, magni non officia!</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis nam ullam corporis enim inventore itaque laudantium labore perferendis, impedit illum, illo dolore dolorem qui ex culpa facilis, magni non officia!</p>
                </v-flex>
                <v-flex md4 class="px-5">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis nam ullam corporis enim inventore itaque laudantium labore perferendis, impedit illum, illo dolore dolorem qui ex culpa facilis, magni non officia!</p>
                </v-flex>
                <v-flex md4 class="px-5">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis nam ullam corporis enim inventore itaque laudantium labore perferendis, impedit illum, illo dolore dolorem qui ex culpa facilis, magni non officia!</p>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis nam ullam corporis enim inventore itaque laudantium labore perferendis, impedit illum, illo dolore dolorem qui ex culpa facilis, magni non officia!</p>
                </v-flex>
            </v-layout>
        </footer>
    </v-app>
</template>

<script>
import { mapGetters } from "vuex";

export default {
    name: 'Layout',
    components: {

    },
    computed: {
      ...mapGetters({
        total_items: "cart/total_items",
      })
    },
    methods: {
        go_home() {
            this.$router.push({name: 'home'});
        },
        go_chart() {
            this.$router.push({name: 'cart'});
        }
    }
}
</script>

<style scoped>
.footer {
    height: 300px;
}
.logo :hover {
    cursor: pointer !important;
}
</style>