<template>
  <v-app>
    <Snackbar/>
    <router-view />
  </v-app>
</template>

<script>
import Snackbar from "@/components/Snackbar";

export default {
  name: 'App',

  components: {
    Snackbar,
  },

  data: () => ({
    //
  }),
};
</script>
